<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录-欢迎进入登录页面</title>
</head>
<body>
    <h1>欢迎进入登录页面</h1>
    <form action="/login" th:action="@{/login}" method="post">
        <label for="username">
            用户名：
            <input id="username" type="text" name="username"/>
        </label>
        <label for="password">
            密码：
            <input id="password" type="password" name="password"/>
        </label>

        <input type="submit" value="登录系统">
    </form>
</body>
</html>